---
import '@fontsource/montserrat/latin-600.css'
import '@fontsource/montserrat/latin-700.css'
import '@fontsource/roboto-slab/latin-400.css'

interface Props {
    title: string
    subtitle: string
    content: string
    image: string
}

const { title, subtitle, content, image } = Astro.props
---

<section class='flex flex-col items-center rounded-lg bg-white font-montserrat shadow-sm'>
    <img src={`/apps/${image}.png`} alt={`${title} - ${subtitle}`} class='h-64 w-full object-contain' />
    <h2 class='mb-2 text-center text-2xl font-bold text-stone-800'>
        {title}
    </h2>
    <p class='mb-4 text-center text-sm font-semibold uppercase text-black'>
        {subtitle}
    </p>
    <p class='w-full text-center font-robotoslab text-sm text-stone-600'>
        {content}
    </p>
</section>
